<div id="transcript-n" class="transcription">
	<!-- <h2><small>Transcript 1</small></h2> -->
	<!-- <img class="img-responsive hidden-print video"  src="demoVideoPlaceholder.png" > -->
	<!-- video -->
	<div class="row videoPlayer">
		<div class="embed-responsive  embed-responsive-16by9 hidden-xs col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!--  Media -->
<!--  if audio has been processed but video has not -->
<!-- There could also be logic here to check if it's safari, and if it's safari move to audio only  -->
<!-- also check media type if audio only then use audio  -->
<% if(processedAudio && !processedVideo) { %>

 <div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		 Video is being processed  
		 <span id="processingExample" class="glyphicon glyphicon-refresh glyphicon-refresh-animate text-muted" aria-hidden="true"></span>    
	</div>

	<!-- progress circle line if type of media is video -->
	<audio id="<%= 'videoId_'+ _id %>"   width="10%" controls>
		<source src="<%= audioFile %>" type="audio/wav">
			Your browser does not support the audio element.
	</audio>
<% }else if (processedVideo) { %>

<!-- ///////////////////////// -->
	<!-- if using safari on ios  -->
 <% if (window.userAgentSafari) { %>
 <!-- Repeating audio code -->
		<!-- progress circle line if type of media is video -->
	<audio id="<%= 'videoId_'+ _id %>"   width="10%" controls>
		<source src="<%= audioFile %>" type="audio/wav">
			Your browser does not support the audio element.
	</audio>
	<!-- end repeating audio code -->

 <% }else{ %> <!-- else if using safari  -->

		<!-- if video has been processed -->
		<video id="<%= 'videoId_'+ _id %>" poster="" width="100%" controls webkit-playsinline>
			<% if(videoOgg) { %>
			<!-- TODO: video type should be a var, videoOgg var should be changed to videoHTML5?or add new line with webm? -->
				<source src="<%= videoOgg %>" type="video/webm">
					<% }else{ %>
				<source src="" type="video/ogg">
					<% }%>
					Your browser does not support the video tag.
			</video>

 <% }%> <!-- if using safari  -->
<!-- ///////////////////////// -->
<% }else { %>
<p>Media preview not ready </p>
<% } %>
				</div><!--  col -->
			</div><!--  row -->
			<!-- end video -->
			<!-- <hr> -->

<br>
	
<div class="panel panel-default">
	<div class="panel-heading">


			<!-- search -->
		 <div class="input-group">
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</span>
		<input type="text" class="form-control" id="searchCurrentTranscription" placeholder="Find in transcript">
	</div>
			<!--end search  -->
			</div><!-- container panel -->
<div class="panel-body">


				<div class="transcript-n-text row" id="sampleTranscript">

				 <!-- that that text exists -->
				<% if(text){%>

			<!-- Paragaph module -->
			<% _.each(text, function(paragraph) { %>
			<dl class="dl-horizontal">
				<dt><%= paragraph.speaker %>
					 </dt> <dt>
					<!-- fir is the first  -->
				
				</dt>
					<% _.each(paragraph.paragraph, function(lines) { %>
					<% _.each(lines, function(line) { %>
				<dd >
					<!--  <p class="lines" contenteditable="false"> -->
						<% _.each(line, function(word) { %>
							<span contenteditable="false" 
										class="words text-muted transcriptionsWords" 
										data-transcription-id="<%= _id %>" 
										data-paragaph-id="<%= paragraph.id %>"  
										data-word-id="<%= word.id %>" 
										data-line-id="<%= line.id %>" 
										data-reel-name="<%= metadata.reelName %>"
										data-fps="<%= metadata.fps %>"
										data-clip-name="<%= metadata.fileName %>" 
										data-video-id="<%= 'videoId_'+ _id %>"
										data-speaker="<%= paragraph.speaker %>" 
										data-src="<%= videoOgg %>"
										data-audio-file="<%= audioFile %>" 
										data-start-time="<%= word.startTime %>"
										data-text="<%= word.text %>" 
										data-end-time="<%= word.endTime %>"
										data-offset="<%= metadata.timecode %>"
										><%= word.text %> </span>
							<% }) %>
			 <!--    </p> -->
			 </dd>
				 <% }) %>
				<% }) %>
			</dl>
			<% }) %>
			<!-- ./paragraph module -->

					<% }else{ %>
						<p>Transcription is currently not avaible for this media, check again later</p>
				<%}%>




					</div>   <!--transcript-n-text -->
				</div>   <!--transcript-n -->

</div><!-- container panel -->
</div><!-- container panel -->
