
<!-- if events is not empty  -->

<% for(var j=0; j< events.length; j++){ %>

	<% if(events[j].title !== undefined){ %>

	<div>
	<div data-title="<%= events[j].title %>" class='row papercut papereditLine' draggable='true'><div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <h4><span class='glyphicon glyphicon-pencil' ></span> <span class='storyOutlineHeading' contenteditable='true'><%= events[j].title %></span></h4></div></li>
  </div>

	<% }else{%>
		<div>
			<div class="row papercut" draggable="true" 
			data-start-time			="<%= events[j].papercut[0].startTime %>"  
			data-end-time			="<%= events[j].papercut[events[j].papercut.length -1].endTime %>" 
			data-transcription-id	="<%= events[j].papercut[0].transcriptionId %>" 
			data-reel-name			="<%= events[j].papercut[0].reelName %>" 
			data-fps				="<%= events[j].papercut[0].fps %>" 
			data-clip-name			="<%= events[j].papercut[0].clipName %>" 
			data-video-id			="<%= events[j].papercut[0].videoId %>" 
			data-speaker			="<%= events[j].papercut[0].speaker %>" 
			data-src				="<%= events[j].papercut[0].src %>" 
			data-audio-file			="<%= events[j].papercut[0].audioFile %>" 
			data-offset				="<%= events[j].papercut[0].offset %>" 
			>
				<dl class="dl-horizontal">
				<!-- TODO: once added speaker diarization this needs to be changes. cannot hardcode the paragraph-->
					<dt class="speaker"><%= events[j].papercut[0].speaker %></dt> 
					<dt>
				  		<a data-start-time="<%= events[j].papercut[0].startTime %>" data-video-id="<%= events[j].papercut[0].videoId %>" class="timecodes"><%= fromSeconds(events[j].papercut[0].startTime) %></a>
					</dt>
					<dd class="papereditLine">
						<% for(var i=0; i< events[j].papercut.length; i++){%>
						 	<span contenteditable ="false" class="words text-muted papereditWords" 
						 	data-transcription-id	="<%= events[j].papercut[i].transcriptionId %>" 
						 	data-reel-name			="<%= events[j].papercut[i].reelName %>" 
						 	data-fps				="<%= events[j].papercut[i].fps %>" 
						 	data-clip-name			="<%= events[j].papercut[i].clipName %>" 
						 	data-video-id			="<%= events[j].papercut[i].videoId %>" 
						 	data-speaker			="<%= events[j].papercut[i].speaker %>" 
						 	data-src				="<%= events[j].papercut[i].src %>" 
						 	data-audio-file			="<%= events[j].papercut[i].audioFile %>" 
						 	data-start-time			="<%= events[j].papercut[i].startTime %>" 
						 	data-text				="<%= events[j].papercut[i].text %>" 
						 	data-end-time			="<%= events[j].papercut[i].endTime %>"
						 	data-transcription-id	="<%= events[j].papercut[0].transcriptionId %>" 
						 	data-video-id			="<%= events[j].papercut[i].videoId %>"> 
						 	<%= events[j].papercut[i].text %> </span>
				 		<% } %>
				 	</dd>
				</dl>
			</div>
			</div>

		
	<% } %>
<%}%>