<div class="container">

	<!-- Demo notice  -->
	<% if(!window.ENV_ELECTRON ){%>
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>You are viewing the app in demo mode</strong>.<br>
		<strong>Which means you cannot change settings</strong>.<br>
		<br> To use  a working version of the app <a href="https://github.com/OpenNewsLabs/autoEdit_2/releases"  target="_blank"> download latest the release.</a> <br>
		To view demo/example transcriptions <a href="/public/demo/frontEnd/index.html#transcriptions"> click here.</a><br>
		To view user manual example <a href="http://www.autoedit.io/user_manual/usage.html"  target="_blank"> click here.</a>
	</div>  
	<% }%>
	<!-- end demo notice  -->
	<!-- Breadcrumb  -->
	<ol class="breadcrumb">
		<li class="active">Settings</li>
	</ol>
	<!--  end Breadcrumb -->
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#ibm" aria-controls="ibm" role="tab" data-toggle="tab">IBM</a></li>
	<li role="presentation"><a href="#speechmatics" aria-controls="speechmatics" role="tab" data-toggle="tab">Speechmatics</a></li>
	<li role="presentation"><a href="#assemblyai" aria-controls="assemblyai" role="tab" data-toggle="tab">AssemblyAI</a></li>
	<li role="presentation"><a href="#rev" aria-controls="rev" role="tab" data-toggle="tab">Rev</a></li>
	<li role="presentation"><a href="#bbc" aria-controls="bbc" role="tab" data-toggle="tab">BBC</a></li>
	<li role="presentation"><a href="#twitter" aria-controls="twitter" role="tab" data-toggle="tab">Twitter</a></li>
    <!-- <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li> -->
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="ibm">    
    	<br>
	<div class="alert alert-info alert-dismissable">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>IBM Watson Speech To Text Service Credentials</strong> 
	  <p>Here you can check or edit your credentials for the IBM Speech To Text service.</p>
		<p>Note that these are different from your IBM bluemix credentials. </p>
		<p>You need to activate a Watson Speech To Text Service on Bluemix to get these.</p>
		<p><a href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/setup-stt-apis/setup-stt-apis-ibm.html" class="alert-link" target="_blank">Checkout the user manual for more info</a>.</p>
	</div>
<!-- IBM credentials form -->
	<form id="form">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>IBM Watson Speech to text Service credentials</h3>
				<small id="emailHelp" class="form-text text-muted">IBM is transitioning from <code>username</code> and <code>password</code>  authentication to IAM access token (<code>apikey</code>).</small><br>
				<small id="emailHelp" class="form-text text-muted">In autoEdit you can use whichever you have.</small><br>
				<div class="form-group">
					<label for="username">IBM STT Username</label>
					<br>
					<small id="emailHelp" class="form-text text-muted">Your IBM STT username. Unless you are using IAM Key, in which case just type "apikey" instead, without the quotes</small>
					<input type="text" name="username-ibm" value="<%= credentials.ibm.username %>" class="form-control" id="username" placeholder="e.g. PMYs8ZexZ7qKGkFgFJhGMYhqzEC4aNzRAv9H or apikey">
				</div>
				<div class="form-group">
					<label for="password">IBM STT IAM API Key or Password</label>
				<br>
					<small id="emailHelp" class="form-text text-muted">Your IBM STT Password. Unless you are using IAM Key, in which case just put the IAM API Key instead. The <code>apikey</code> code.</small>
					<input type="text" name="password-ibm" value="<%= credentials.ibm.password  %>" class="form-control" id="password" placeholder="e.g. 2QKJ79uRsD2a">
				</div>
				<div class="form-group">
					<label for="url">IBM Instance URL</label>
					<br>
					<small id="emailHelp" class="form-text text-muted">this is the same <code>url</code> field, regardless of which one you are using</small>
					<input type="text" name="url-ibm" value="<%= credentials.ibm.url  %>" class="form-control" id="url" placeholder="https://gateway-syd.watsonplatform.net/speech-to-text/api">
				</div>
				<a id="submitBtnIbmCredentials" class="btn btn-primary">Save IBM Credentials</a>
			</div><!-- ./col -->
		</div><!-- ./row -->
	</form>
</div><!-- IBM tab -->


<div role="tabpanel" class="tab-pane" id="speechmatics">
		<br>
	<div class="alert alert-info alert-dismissable">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>Speechmatics Speech To Text Service Credentials</strong> 
	  <p>Here you can check or edit your credentials for the Speechmatics Speech To Text service.</p>
		<p>Note that these are different from your Speechmatics account login credentials. </p>
		<p>You need to activate the Speechmatics Speech To Text Service API to get these.</p>
		<p><a href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/setup-stt-apis/setup-stt-apis-speechmatics.html" class="alert-link" target="_blank">Checkout the user manual for more info</a>.</p>
	</div>

 
	<!-- Speechmatics credentials form -->
	<form id="form">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				 <h3>Speechmatics Speech to text Service credentials</h3>
					<div class="form-group">
						<label for="username">Speechmatics STT Username</label>
						<input type="text" name="username-speechmatics" value="<%= credentials.speechmatics.username %>" class="form-control" id="username" placeholder="e.g. 72249">
					</div>
					<div class="form-group">
						<label for="password">Speechmatics STT API Key</label>
						<input type="text" name="password-speechmatics" value="<%= credentials.speechmatics.password  %>" class="form-control" id="password" placeholder="e.g. dYsaEPJZGzjdAEfW3R4oRXDaMkPwb9aqxDMwwMrekRAAnDxP">
					</div>
				<a id="submitBtnSpeechmaticsCredentials" class="btn btn-primary">Save Speechmatics Credentials</a>
			</div><!-- ./col -->
		</div><!-- ./row -->
	</form>
</div> <!-- Speechmatics tab -->

<!-- assemblyai -->
<div role="tabpanel" class="tab-pane" id="assemblyai">
	<br>
<div class="alert alert-info alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>AssemblyAI Speech To Text Service Credentials</strong> 
  <p>Here you can check or edit your credentials for the AssemblyAI Speech To Text service.</p>
	<p>Note that these are different from your AssemblyAI account login credentials. </p>
	<p>You need to activate the AssemblyAI Speech To Text Service API to get these.</p>
	<p><a href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/setup-stt-apis/setup-stt-apis-assemblyai.html" class="alert-link" target="_blank">Checkout the user manual for more info</a>.</p>
</div>


<!-- assemblyai credentials form -->
<form id="form">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			 <h3>AssemblyAI Speech to text Service credentials</h3>
				
				<div class="form-group">
					<label for="password">AssemblyAI API Key</label>
					<input type="text" name="password-assemblyai" value="<%= credentials.assemblyai.password  %>" class="form-control" id="password" placeholder="e.g. dYsaEPJZGzjdAEfW3R4oRXDaMkPwb9aqxDMwwMrekRAAnDxP">
				</div>
			<a id="submitBtnAssemblyaiCredentials" class="btn btn-primary">Save AssemblyAI Credentials</a>
		</div><!-- ./col -->
	</div><!-- ./row -->
</form>
</div> <!-- assemblyai tab -->

<!-- assemblyai end -->

<!-- Rev tab -->
<div role="tabpanel" class="tab-pane" id="rev">
	<br>
<div class="alert alert-info alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Rev Speech To Text Service Credentials</strong> 
  <p>Here you can check or edit your credentials for the Rev Speech To Text service.</p>
	<p>Note that these are different from your Rev account login credentials. </p>
	<p>You need to activate the Rev Speech To Text Service API to get these.</p>
	<p><a href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/setup-stt-apis/setup-stt-apis-speechmatics.html" class="alert-link" target="_blank">Checkout the user manual for more info</a>.</p>
</div>

	<!-- rev credentials form -->
	<form id="form">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				 <h3>Rev Speech to text Service credentials</h3>
					<div class="form-group">
						<label for="username">Rev Client API Key</label>
						<input type="text" name="username-rev" value="<%= credentials.rev.username %>" class="form-control" id="username" placeholder="e.g. 2CrDACUUeeg4f4fcjj7SmQlVRxQ">
					</div>
					<div class="form-group">
						<label for="password">Rev User API Key</label>
						<input type="text" name="password-rev" value="<%= credentials.rev.password  %>" class="form-control" id="password" placeholder="e.g. 3CrDACUUeeg4f4fcjj7SmQlVRxR=">
					</div>

					<div class="form-group">
						<label for="title">Rev API Url</label>
						<input type="text" name="url-rev" class="form-control" id="revUrl" value="https://www.rev.com/api/v1/orders" placeholder="eg for sandbox: https://api-sandbox.rev.com/api/v1/orders or for production https://www.rev.com/api/v1/orders">
						
						</div>
						
				<a id="submitBtnRevCredentials" class="btn btn-primary">Save Rev Credentials</a>
			</div><!-- ./col -->
		</div><!-- ./row -->
	</form>
</div> <!-- rev tab -->
<!-- Rev tab end -->


<!-- BBC tab -->
<div role="tabpanel" class="tab-pane" id="bbc">
	<br>
<div class="alert alert-info alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>BBC Speech To Text email address</strong> 
  <p>This service only works for BBC employee while on the BBC network.</p>
  <p>In order to use this service add your BBC work email address here.</p>
</div>

	<!-- rev credentials form -->
	<form id="form">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				 <h3>BBC Speech to text </h3>
					<div class="form-group">
						<label for="username">BBC email address</label>
						<input type="text" name="email-bbc" value="<%= credentials.bbc.email %>" class="form-control" id="username" placeholder="e.g. name.lastname@bbc.co.uk">	
					</div>			
				<a id="submitBtnBBCCredentials" class="btn btn-primary">Save BBC email details</a>
			</div><!-- ./col -->
		</div><!-- ./row -->
	</form>
</div> 
<!-- BBC tab end -->


<!-- Twitter tab -->
<div role="tabpanel" class="tab-pane" id="twitter">
	<br>
<div class="alert alert-info alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Twitter Credentials</strong> 
  <p>This service is for being able to tweet clips to your twitter account.</p>
  <p>In order to use this service you need to get developer credentials, see user manual for more informations.</p>
</div>

	<!-- rev credentials form -->
	<form id="form">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				 <h3>Twitter credentials</h3>
					<div class="form-group">
						<label for="username">Twitter Consumer Key</label>
						<input type="text" name="tiwtter-consumer-key" value="<%= credentials.twitter.consumerKey %>" class="form-control" id="tiwtterConsumerKey" placeholder="e.g. HhGDjGYnLHhGDjGYnL">	
					</div>	
					<div class="form-group">
						<label for="username">Twitter Consumer Secret</label>
						<input type="text" name="tiwtter-consumer-secret" value="<%= credentials.twitter.consumerSecret %>" class="form-control" id="tiwtterConsumerSecret" placeholder="e.g. HhGDjGYnLHhGDjGYnL">	
					</div>	
					<hr>
					<div class="form-group">
						<label for="username">Twitter Access Token</label>
						<input type="text" name="tiwtter-access-token" value="<%= credentials.twitter.accessToken %>" class="form-control" id="tiwtterAccessToken" placeholder="e.g. HhGDjGYnLHhGDjGYnL">	
					</div>	
					<div class="form-group">
						<label for="username">Twitter Access Token Secret</label>
						<input type="text" name="tiwtter-access-token-secret" value="<%= credentials.twitter.accessTokenSecret %>" class="form-control" id="tiwtterAccessTokenSecret" placeholder="e.g. HhGDjGYnLHhGDjGYnL">	
					</div>		
				<a id="submitBtnTwitterCredentials" class="btn btn-primary">Save Twitter Credentials</a>
			</div><!-- ./col -->
		</div><!-- ./row -->
	</form>
</div> 
<!-- Twitter tab end -->

    <!-- <div role="tabpanel" class="tab-pane" id="settings">...</div> -->
  </div>

</div>


</div>