<div class="container">

	<!-- Demo notice  -->
	<% if(!window.frontEndEnviromentNWJS ){%>
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>You are viewing the app in demo mode</strong>.<br>
		<strong>Which means you cannot change settings</strong>.<br>
		<br> To use  a working version of the app <a href="https://github.com/OpenNewsLabs/autoEdit_2/releases"  target="_blank"> download latest the release.</a> <br>
		To view demo/example transcriptions <a href="/public/demo/frontEnd/index.html#transcriptions"> click here.</a><br>
		To view user manual example <a href="http://www.autoedit.io/user_manual/usage.html"  target="_blank"> click here.</a>
	</div>  
	<% }%>
	<!-- end demo notice  -->

	<!-- Breadcrumb  -->
	<ol class="breadcrumb">
		<li class="active">Settings</li>
	</ol>
	<!--  end Breadcrumb -->

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#ibm" aria-controls="ibm" role="tab" data-toggle="tab">IBM</a></li>
    <li role="presentation"><a href="#google" aria-controls="google" role="tab" data-toggle="tab">Google</a></li>
    <li role="presentation"><a href="#microsoft" aria-controls="microsoft" role="tab" data-toggle="tab">Microsoft</a></li>
    <!-- <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="ibm">    
    	<br>
	<div class="alert alert-info alert-dismissable">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>IBM Watson Speech To Text Service Credentials</strong> 
	  <p>Here you can check or edit your credentials for the IBM Speech To Text service.</p>
		<p>Note that these are different from your IBM bluemix credentials. </p>
		<p>You need to activate a Watson Speech To Text Service on Bluemix to get these.</p>
		<p><a href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/setup-stt-apis/setup-stt-apis-ibm.html" class="alert-link" target="_blank">Checkout the user manual for more info</a>.</p>
	</div>
	
<!-- IBM credentials form -->
	<form id="form">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>IBM Watson Speech to text Service credentials</h3>
				<div class="form-group">
					<label for="username">IBM STT Username</label>
					<input type="title" name="username" value="<%= credentials.ibm.username %>" class="form-control" id="username" placeholder="e.g. PMYs8ZexZ7qKGkFgFJhGMYhqzEC4aNzRAv9H">
				</div>
				<div class="form-group">
					<label for="password">IBM STT Password</label>
					<input type="title" name="password" value="<%= credentials.ibm.password  %>" class="form-control" id="password" placeholder="e.g. 2QKJ79uRsD2a">
				</div>
				<a id="submitBtnIbmCredentials" class="btn btn-primary">Save Credentials</a>
			</div><!-- ./col -->
		</div><!-- ./row -->
	</form>
</div><!-- IBM tab -->


<div role="tabpanel" class="tab-pane" id="google">
		<br>
	<div class="alert alert-info alert-dismissable">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>Google  Speech To Text Service Credentials</strong> 
	  <p>Here you can check or edit your credentials for the Google Speech To Text service.</p>
	</div>

 
	<!-- Google credentials form -->
	<form id="form">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		 <div class="form-group">
           <label for="fileUpload">Choose google <code>keys.json</code> file to auto complete these fields</label>
          <% if(window.process !== undefined ){%>
            
            <button id="btnElectronInputMediaFileGoogleCredentials" class="btn btn-default btn-xs"  class="very-sweet-looking">Chose a File</button>

            <input id="inputElectronInputMediaFileGoogleCredentials" name="file" type="file" disabled="disabled" style=" visibility: hidden;"/>

            <p class="help-block" id="inputFilePreviewGoogleCredentials" style="word-wrap:break-word;" ></p>

          <% }else{%>
          <input  name="file" type="file" id="inputMediaFileGoogleCredentials">
           <% }%>
        </div>
        </div>
        </div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>Google  Speech to text Service credentials</h3>
				<div class="form-group">
					<label for="t">type</label>
					<input type="title" name="type" value="<%= credentials.google.type %>" class="form-control" id="type" placeholder="">
				</div>
				<div class="form-group">
					<label for="password">Project Id</label>
					<input type="title" name="project_id" value="<%= credentials.google.project_id  %>" class="form-control" id="project_id" placeholder="">
				</div>
				<div class="form-group">
					<label for="password">Private Key Id</label>
					<input type="title" name="private_key_id" value="<%= credentials.google.private_key_id  %>" class="form-control" id="private_key_id" placeholder="">
				</div>

				<div class="form-group">
					<label for="password">Private Key</label>
					<input type="title" name="private_key" value="<%= credentials.google.private_key  %>" class="form-control" id="private_key" placeholder="">
				</div>

				
				<div class="form-group">
					<label for="password">Client email</label>
					<input type="title" name="client_email" value="<%= credentials.google.client_email  %>" class="form-control" id="client_email" placeholder="">
				</div>
				<div class="form-group">
					<label for="password">Client Id</label>
					<input type="title" name="client_id" value="<%= credentials.google.client_id  %>" class="form-control" id="client_id" placeholder="">
				</div>
				<div class="form-group">
					<label for="password"><code>auth_uri</code></label>
					<input type="title" name="auth_uri" value="<%= credentials.google.auth_uri  %>" class="form-control" id="auth_uri" placeholder="">
				</div>
				<div class="form-group">
					<label for="password"><code>token_uri</code></label>
					<input type="title" name="token_uri" value="<%= credentials.google.token_uri  %>" class="form-control" id="token_uri" placeholder="">
				</div>
				<div class="form-group">
					<label for="password"><code>auth_provider_x509_cert_url</code></label>
					<input type="title" name="auth_provider_x509_cert_url" value="<%= credentials.google.auth_provider_x509_cert_url  %>" class="form-control" id="auth_provider_x509_cert_url" placeholder="">
				</div>
				<div class="form-group">
					<label for="password"><code>client_x509_cert_url</code></label>
					<input type="title" name="client_x509_cert_url" value="<%= credentials.google.client_x509_cert_url  %>" class="form-control" id="client_x509_cert_url" placeholder="">
				</div>

				<a id="submitBtnGoogleCredentials" class="btn btn-primary">Save Credentials</a>
			</div><!-- ./col -->
		</div><!-- ./row -->
	</form>
</div> <!-- google tab -->
  <div role="tabpanel" class="tab-pane" id="microsoft">
  		<br>
	<div class="alert alert-info alert-dismissable">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>Microsoft  Speech To Text Service</strong> 
	  <p>Microsoft Bing STT service coming soon.</p>
	</div>

	<form id="form">
<!-- 
		 <div class="form-group">
           <label for="fileUpload">Choose google <code>keys.json</code> file to auto complete these fields</label>
          <% if(window.process !== undefined ){%>
            
            <button id="btnElectronInputMediaFile" class="btn btn-default btn-xs"  class="very-sweet-looking">Chose a File</button>

            <input id="inputElectronInputMediaFile" name="file" type="file" disabled="disabled" style=" visibility: hidden;"/>

            <p class="help-block" id="inputFilePreview" style="word-wrap:break-word;" ></p>

          <% }else{%>

          <input  name="file" type="file" id="inputMediaFile">
           <% }%>
        </div>
 -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>Microsoft bing  Speech to text Service credentials</h3>
				<div class="form-group">
					<label for="username">Bing Speech API Key</label>
					<input type="title" name="username" value="<%= credentials.microsoft.key %>" class="form-control" id="username" placeholder="e.g. PMYs8ZexZ7qKGkFgFJhGMYhqzEC4aNzRAv9H" disabled>
				</div>
				<!-- Maybe others -->

				<a id="submitBtnMicrosoftCredentials" class="btn btn-primary">Save Credentials</a>
			</div><!-- ./col -->
		</div><!-- ./row -->
	</form>




  </div>
    <!-- <div role="tabpanel" class="tab-pane" id="settings">...</div> -->
  </div>

</div>


</div>