    <div class="row">
      <% if(status == false) { %>

      <div class="col-xs-9 col-sm-10 cold-md-10 col-lg-11">
        <!--  not ready -->
        <button type="button" class="btn btn-lg btn-link showBtn controls"  disabled><%= title %> </button>
        <button type="button" class="btn btn-lg btn-link"  disabled>
          <span id="processingExample" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>&nbsp;&nbsp;
        </button>
        <p>STT Engine: <kbd><%= sttEngine %></kbd></p>
        <p><%= description %></p>
      </div>
      <div class="col-xs-3 col-sm-2 cold-md-2 col-lg-1">
        <button type="button"     class="btn btn-danger btn-xs deleteBtn" disabled>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </div>

      <% }else if(status == true){ %>

      <div class="col-xs-9 col-sm-10 cold-md-10 col-lg-11" id="transcriptionCard">
        <button type="button" class="btn btn-lg btn-link showBtn controls" ><%= title %></button>
        <p><kbd><%= sttEngine %></kbd></p>
        <p><%= description %></p>
      </div>
      <div class="col-xs-3 col-sm-2 cold-md-2 col-lg-1">
        <button type="button"  class="btn btn-danger btn-xs deleteBtn">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </div>

      <% }else if(status == null){ %>


<!--  not succesfull ready -->
      <div class="col-xs-9 col-sm-10 cold-md-10 col-lg-11">
        <button type="button" class="btn btn-lg btn-link showBtn controls"  disabled><%= title %> </button>
     <!--    <button type="button" class="btn btn-lg btn-link"  disabled>
          <span id="processingExample" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>&nbsp;&nbsp;
        </button> -->
        <p><kbd><%= sttEngine %></kbd></p>
        <p><%= description %></p>

        <% if(error){ %>
          <div class="alert alert-danger" role="alert">
          <h5>Error message <code><%= sttEngine.toUpperCase() %></code>: </h5>
          <p><strong><code><%= error.code %> </code>
          <%= error.error %></strong></p> 
          <p><%= error.description %></p> 
          </div>

          <% if(sttEngine === "ibm"){ %>
            <div class="alert alert-warning" role="alert"><p>Most likely if this is the first time setting up and using the app, and you have chosen IBM watson as STT enginge, you might have added the wrong credentials for IBM Watson STT service. </p>
            <p><a class="alert-link" href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/content/uninstalling.html"  target="_blank">To uninstall the app and start fresh use app cleaner</a></p> 
            <p>Make sure you have created and are adding the credentials for the <a class="alert-link" href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/content/setup-stt-apis/setup-stt-apis-ibm.html"  target="_blank">IBM Watson STT service</a> and not the IBM bluemix once.</p>
            <p>If you have used the app for about a month and it was all good and now it has stopped working, your IBM Watson STT service account might have run out of the free trial allowance, check their dashboard to make sure.</p>
            <br>
            <p>If this is not your first time using the app check the speed of your internet connection, slow connection might cause delay in transferign the file and resulting errors.</p> 
             </div>
          <% } %>
            <div class="alert alert-warning" role="alert">
              <p>If you still need help figuring this our reach out at <a class="alert-link" href="mailto:pietro@autoEdit.io?Subject=autoEdit%202_uploading_file_bug">info@autoEdit.io</a> copy and pasting the text from the error in red.</p>
            </div>
        <% } %>

      </div>
      <div class="col-xs-3 col-sm-2 cold-md-2 col-lg-1">
        <button type="button"     class="btn btn-danger btn-xs deleteBtn" >
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        </button>
      </div>


      <% } %>
    </div>
    <hr>
